MoonshineSDKInstaller/build/bin
MoonshineSDKInstaller/build/helperResources
MoonshineSDKInstaller/build/images
MoonshineSDKInstaller/build/installer
MoonshineSDKInstaller/build/shellScripts
MoonshineSDKInstaller/obj
MoonshineSDKInstallerGUICore/bin
InstallerSharedCore/bin
.DS_Store
.vscode/
